header {
    background-image: url(../img/header-bg.jpg);
    padding-bottom: 165px;
    background-position: center;
    position: relative;
    background-size: cover;
}
.shape{
    position: absolute;
    bottom:60px;
    right: 165px;
}
.wrapper {
    width: 960px;
    margin: 0 auto;
}
.header-menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 52px;
}
.header-menu a{
    text-decoration: none;
}
.logo{
    color:white;
    text-transform: uppercase;
    font-size: 48px;
    font-family: "LeagueGothic";
}
.logo span{
    color:#734f82;
}
.nav-menu {
    display: flex;
    list-style-type: none;
    font-size: 24px;
    font-family: "LeagueGothic";
}
ul.nav-menu a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
} 
ul.nav-menu li {
    margin-right: 50px;
}

ul.nav-menu li:last-child {
    margin-right: 0px;
}
@font-face {
    font-family: "LeagueGothic";
    src: url("../fonts/LeagueGothic-Regular.otf");}
@font-face {
    font-family: "Myriad";
    src: url("../fonts/myriad.otf");}
@font-face {
    font-family: "Opensans";
    src: url("../fonts/opensanslight.ttf");
  }
  @font-face {
    font-family: Opensansextrabold;
    src: url("../fonts/opensansextrabold.ttf");
  }


.content {
    display: flex;
    height:400px;
    justify-content: space-between; 
}
.slider {
    margin-top: 170px;
    background-color: rgba( 0, 0, 0, 0.2);    
}
.slider-img{
    position: relative;
    bottom: 30px;
    margin-right: 75px;
}
.slider-discr{
    padding-top: 85px;
    width:503px;   
}
.slider-discr h1{
    color:white;
    font-size: 60px;
    font-family: Myriad;
}
.slider-discr h2{
    color:#edbfff;
    font-size: 32px;
    font-family: Myriad;
    line-height: 36px;
}
.slider-discr p{
    color:white;
    font-size: 18px;
    font-family: Opensans;
    line-height: 24px;

}
.violet{
    height: 342px;
    background-color: #543b5f;
}
.violet-menu{
    display:flex;
    padding: 75px 0px 60px 10px;
}

.violet-menu h3{
    font-size:30px;
    color:white;
    font-family: LeagueGothic;
    line-height: 24px;

}
.violet-menu p{
    font-size:16px;
    line-height: 24px;
    color:white;
    font-family: Opensans;
    padding: 10px 0px;
}
.violet-menu span{
    font-size:18px;
    line-height: 24px;
    color:white;
    font-family: LeagueGothic;
    text-align: right;
    display: block;
}
.v-left, .v-center, .v-right{
    margin-left: 25px;
}


.l55{
    margin-left: 55px;
}


.white{
    background-color: #f9f9f9;
    padding-bottom:95px;

}
.white-blog-parts{
    padding:100px 15px 0px 20px;
    display:flex;
    justify-content: space-between;
}
.white-blog-left{
    border: 1px solid grey;
    padding:30px 35px 40px 40px;
    background-color: white;
    width:350px;

}
.white-blog-left h3, .white-blog-right h3{
    font-size: 30px;
    line-height: 24px;
    font-family: LeagueGothic;
    color: black;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.white-blog-parts h3 span{
    color: #f5deff;
    
}
.white-blog-left p{
    font-size: 16px;
    line-height: 24px;
    font-family: Opensans;
 
}
 .white-blog-right{
    padding-top: 30px;
 }
.white-blog-right h2{
    font-size: 16px;
    line-height: 24px;
    font-family: Opensansextrabold;
}
 .white-blog-right p{
    font-size: 16px;
    line-height: 24px;
    font-family: Opensans;
    display: flex;
    align-items: center;
}


.t{
    display: flex;
    align-items: center;

}
.c{
    margin-left: 10px;
}
.tt{
    display: flex;
    align-items: center;
    margin: 30px 0px;
}
.read{
    font-size: 18px;
    line-height: 24px;
    font-family: LeagueGothic;
    text-align: right;
    display: block;
    margin-right: 15px;
}
.logos{
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}
.hr{
    
    background-color: #f9f9f9;
    border-top:1px solid grey;
}
.here{
    position: absolute;
    left: 185px;
    top: 1625px;
}

.f {
    position: absolute;
    left: 0px;
    top: 1300px;
}